<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        <title>Document</title>
    </head>
    <body>
        <center>
            <h1>Sistem Pendukung Keputusan Kredit Mobil menggunakan Algoritma KNN<h1>
                    <h3>Afrizal's Blog</h3>
                </center>
                <br/>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="col-sm align-center">

                            <form method="POST">
                                {% for user in range(5) %}
                                    <div class="form-group">
                                    <label for="exampleInputEmail1">Masukkan Nilai Kriteria {{user+1}}</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        aria-describedby="kr{{user+1}}"
                                        min="1" max="5"
                                        name="kriteria[]" required>
                                    <small id="kr{{user+1}}" class="form-text text-muted">Mohon masukkan angka 1 - 5.</small>
                                </div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Masukkan Nilai K</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        aria-describedby="k"
                                        min="1" max="5"
                                        name="nilaik" required>
                                    <small id="k" class="form-text text-muted">Mohon masukkan minimal 1.</small>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        {% if request.method=="POST" %}
                        <div class="col-sm">
                            Berdasarkan perhitungan diatas, sistem menyatakan pemohon {% if data.persentase > 50 %} <b>Memenuhi</b> {% else %} <b>Tidak Memenuhi</b> {% endif %} mengajukan kredit.
                            <br> Persentasi kebenaran  <b>{{ data.persentase }}% </b>
                        </div>
                        {% endif %}
                    </div>

                </div>
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
                <script
                    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>
                <script
                    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
                <script
                    type="text/javascript"
                    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
                <script
                    type="text/javascript"
                    src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#example').DataTable();
                    });
                </script>
            </body>
        </html>